#mainPane {
	-fx-background-color: #F9F9F9;
}

#mainPane #setupBox {
	-fx-background-color: #C9C9C9;
	-fx-padding: 20;
}

.button {
	-fx-background-radius: 0em;
	-fx-background-inserts: 0, 0, 0;
	-fx-focus-color: transparent;
	-fx-text-fill: #2B2B2B;
	-fx-background-color: rgb(169, 169, 169);
}

.split-pane-divider {
   -fx-background-color: #C9C9C9;
}

#mainPane #setupBox Label {
	-fx-min-width: 150;
	-fx-alignment: left;
}

#mainPane #setupBox HBox {
	/*-fx-alignment:center;*/
}

#initConfListView {
	-fx-max-height: 110;
	-fx-max-width: 240;
}

#initBox{
	-fx-padding: 15 5 5 0;
}

#mainPane #setupBox HBox TextField,
#mainPane #setupBox HBox ColorPicker {
	-fx-max-width: 90;
}

#runBtn {
	fx-max-width:infinity;
}

#agentToSpawn{
	-fx-min-width: 150;
}

#spawnBtn{
	-fx-min-width: 90;
}

#gridBox{
	-fx-background-color: #E0E0E0;
}